@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
  box-sizing: border-box;
}
.advice {
  width: 650px;
  height: 400px;
  margin: 200px auto;
  background-color: hsl(217, 19%, 24%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}
.advice__id {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(150, 100%, 66%);
}
.advice__text {
  color: hsl(193, 38%, 86%);
  padding-top: 20px;
  min-height: 220px;
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
}
.advice__divider {
  min-height: 20px;
  width: 100%;
  background-image: url('./images/pattern-divider-desktop.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
}

.advice__dice {
  display: block;
  border: none;
  position: relative;
  min-height: 80px;
  min-width: 80px;
  bottom: -40px;
  background-color: hsl(150, 100%, 66%);
  background-image: url('./images/icon-dice.svg');
  background-repeat: no-repeat;
  background-position: left 50% top 50%;
  background-size: 40%;
  border-radius: 50%;
  cursor: pointer;
}

@media (hover: hover) {
  .advice__dice:hover {
    box-shadow: hsl(150, 100%, 66%) 0px 0px 50px 10px;
  }
}

.attribution {
  position: fixed;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  background-color: hsl(218, 23%, 16%);
  font-family: 'Manrope', sans-serif;
}

@media screen and (max-width: 600px) {
  .advice {
    width: auto;
    margin: 100px 20px;
    margin-bottom: 0;
    padding: 50px 30px;
  }
  .advice__text {
    font-size: 28px;
  }
  .advice__divider {
    background-image: url('./images/pattern-divider-mobile.svg');
    background-size: 400px;
  }
}
