@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 0px 2px #cecece;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 0;
}

.container {
  background-color: #fafafa;
  padding-top: 100px;
}

.search_panel {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.home_panel {
  margin: 0 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}

.country_card {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 3px #cecece;
  width: 260px;
  height: 340px;
}

.flag {
  border-radius: 5px 5px 0 0;
  width: 260px;
  height: 160px;
  object-fit: cover;
}

.hidden {
  display: none;
}
