@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 0px 2px #cecece;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 0;
}

.home {
  background-color: #fafafa;
  padding-top: 100px;
}

.search_panel {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.home_panel {
  margin: 0 80px;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 80px;
}

.country_card {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 3px #cecece;
  width: 260px;
  height: 340px;
  cursor: pointer;
  pointer-events: all;
}

.flag {
  border-radius: 5px 5px 0 0;
  width: 260px;
  height: 160px;
  object-fit: cover;
}

.detail_panel {
  margin: 0 80px;
  padding-top: 160px;
}

.detail__main {
  padding-top: 100px;
  display: flex;
  align-items: center;
}

.detail__flag {
  height: 400px;
  width: 575px;
  margin-right: 100px;
  flex-shrink: 0;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.detail__flag > img {
  max-width: 100%;
  max-height: 100%;
}

.detail__info {
  width: 600px;
  line-height: 2;
  flex-shrink: 0;
}

.detail__data {
  margin: 15px 0 60px 0;
  display: flex;
}

.detail__data-col {
  flex: 50%;
}

.filtered,
.hidden {
  display: none;
}
